.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container > Input {
    width: 240px;
    height: 40px;
    margin: 10px 10px;
}

.title {
    line-height: 30px;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
}

.flex-sql {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.center {
    width: fit-content;
    text-align: center;
    margin: auto;
}

.float {
    margin-top: 10px;
    position: fixed;
    left: 360px;
    right: 0;
    bottom: 0;
    background-color: white;
    border-top: solid 1px #e1e1e1;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, .1);
}

.float .hide-icon {
    position: relative;
    top: -20px;
    text-align: center;
}

.float .hide-icon span {
    display: inline-block;
    width: 30px;
    height: 20px;
    border: solid 1px #ccc;
    color: #ccc;
    background-color: #fff;
    border-bottom: none;
}
