html, body, #app {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    height: 100%;
}

.content {
    padding: 30px;
    flex: 1;
    overflow: auto;
    height: 100%;
    position: relative;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

td a {
    color: #1890ff !important;
}


.table-clicked-row-style {
    background-color: #E7F7FF
}
