{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
        "@babel/plugin-transform-runtime",
        [
            "@babel/plugin-transform-react-jsx",
            {
                "pragma": "require('react').createElement"
            }
        ],
        [
            "react-css-modules",
            {
                "generateScopedName": "[path]_[name]_[local]_[hash:base64:5]"
            }
        ]
    ]
}